#apropos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 0 2vw;

  .aproposSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;

    &,
    .Text {
      max-width: 1440px;
      margin: 0 auto;
    }
    .titleContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      line-height: 32px;
    }

    .Text {
      width: 80vw;
    }
  }
}
