.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 200vh;
  will-change: opacity;

  img {
    position: sticky;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
    height: 100vh;
    width: 100%;
  }
}
