#ConnextSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $LightBlack;

  .titleSection {
    h2 {
      &:last-child {
        color: $Gold;
      }
    }
  }

  p {
    max-width: 1440px;
    width: 80vw;
    text-align: justify;
    margin: 8vh 0;
  }

  .buttonsContainer {
    display: flex;
    gap: 50px;
  }
}
