#ebook {
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  color: $LightBlack;
  gap: 100px;

  .title {
    display: flex;
    justify-content: center;
    gap: 15px;
    h2 {
      &:nth-child(2) {
        color: $Gold;
      }
    }
  }

  .container {
    max-width: 1440px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    margin: 0 auto;
    flex-grow: 1;
    gap: 30px;

    .paragraph {
      display: flex;
      flex-direction: column;
      text-align: justify;
      gap: 100px;
    }

    .ebookImage {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
