#galerie {
  padding: 100px 2vw 0;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    flex-grow: 1;
    width: 100%;

    p {
      margin-top: 50px;
    }

    .projectsContainer {
      margin-top: 100px;
      display: flex;
      gap: 30px;
      flex-grow: 1;
      width: 85%;

      .left,
      .right {
        width: 50%;
      }

      .left {
        .imageProjetContainer {
          position: relative;
          width: 100%;
          height: 100%;
          flex-grow: 1;
          overflow: hidden;
          border-radius: 5px;

          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.7s;
            will-change: opacity;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;

        .projectsNamesContainer {
          display: flex;
          flex-direction: column;
          width: 100%;
          overflow: hidden;

          .projectName {
            border-top: 1px solid $Black;
            font-size: 24px;
            padding: 24px 0;

            &:first-child {
              border-top: none;
            }

            &:hover {
              span {
                transform: translateX(0);
              }
            }

            span {
              display: flex;
              align-items: center;
              gap: 10px;
              transform: translateX(-25px);
              transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
              will-change: transform;

              svg {
                font-size: 20px;
              }
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
