#galerie {
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;

    p {
      margin-top: 50px;
    }

    .projectsContainer {
      width: 100%;
      margin-top: 100px;

      .projet {
        position: relative;
        display: flex;
        gap: 10px;
        font-family: "Cormorant Garamond", serif;
        padding: 60px 5%;
        overflow: hidden;

        &:first-child::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1.5px;
          background: $LightBlack;
        }

        &:hover {
          cursor: pointer;

          .imageContainer {
            img {
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
          }

          .number,
          .name {
            color: $White;
          }
        }

        img,
        .name,
        .number {
          transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
        }

        .number {
          font-size: 30px;
        }

        .name {
          font-size: 70px;
        }
        .imageContainer {
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.7);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            will-change: clip-path;
          }
        }

        .line {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: $LightBlack;
        }
      }
    }
  }
}
