#BigTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $White;

  .hidden {
    overflow: hidden;
  }

  .titleContainer {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 99997;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    pointer-events: none;
    gap: 0;

    h1 {
      line-height: 80px;
      font-weight: 300;
      font-size: 100px;
      letter-spacing: 1vw;
      white-space: nowrap;
      will-change: transform;
    }

    span {
      display: block;
      letter-spacing: 10px;
      font-size: 25px;
      font-weight: 500;
    }
  }
}
