#homeSection {
  .parentContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;

    .txtContainer {
      font-family: "Cormorant Garamond", serif;
      text-transform: uppercase;
      pointer-events: none;
      position: sticky;
      z-index: 99997;
      top: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .h1container {
        line-height: 80px;
        overflow: hidden;

        h1 {
          font-weight: 300;
          font-size: 100px;
          letter-spacing: 1vw;
          white-space: nowrap;
          will-change: transform;
        }
      }

      .spanContainer {
        overflow: hidden;

        span {
          display: block;
          letter-spacing: 10px;
          font-size: 25px;
          font-weight: 500;
        }
      }
    }
  }
}
