#Projet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 6;
  background: $LightBlack;
  display: flex;

  .image {
    position: relative;
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .filter {
      background: linear-gradient(0deg, #191a19 0%, rgba(0, 0, 0, 0) 50%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .title {
      position: absolute;
      bottom: 1vh;
      left: 2vw;
      z-index: 2;
      overflow: hidden;

      h1 {
        font-size: 5vw;
        font-weight: 400;
        color: #f6f6f6;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 50%;
    height: 100vh;
    padding: 2vh 2vw 4vh 30px;

    .backBtn {
      position: relative;
      overflow: hidden;
      padding: 0 2px;

      span {
        display: block;
        transition: transform 0.3s;
        will-change: transform;

        &::after {
          content: "Back";
          position: absolute;
          bottom: -100%;
          left: 0;
          font-style: italic;
        }
      }

      &:hover {
        cursor: pointer;

        span {
          transform: translateY(-100%);
        }
      }
    }

    .imageProjet {
      width: 100%;
      height: 30vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    p {
      text-align: justify;
    }
  }
}
