#apropos {
  background: $DarkGrey;
  color: $Black;

  .aproposSection {
    padding-top: 10vh;
    border-top: 1px solid $Black;
  }

  .title {
    h2 {
      text-align: start;
      font-size: 115px;
    }
  }
}
