#ebook {
  position: relative;
  background: $DarkGrey;
  padding: 10vh 2vw 0;
  display: flex;
  flex-direction: column;
  color: $LightBlack;

  .container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    flex-grow: 1;

    .title {
      h2 {
        text-align: start;
        font-size: 300px;
        line-height: 270px;

        &:nth-child(2) {
          padding-left: 592px;
        }
      }
    }

    .paragraph {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 20px;
      text-align: justify;
      width: 550px;
      height: 270px;
    }
  }
}
