$Yellow: #ffbd59;
$Blue: #264059;
$LightRed: #c13636;
$Red: #ff0000;
$Orange: #d1902a;
$OrangeRed: #c03619;
$Beige: #eadbcc;
$White: #f6f6f6;
$Brown: #583e26;
$LightBlack: #1a1a1a;
$Black: #000000;
$Gold: #c49d39;
$Grey: #d0d0d0;
$DarkGrey: #e4e1dc;
