* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: $White;
  color: $Black;
}

section {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}
