* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;

  // POUR CORRIGER LE BUG AU USESCROLL DE FRAMER MOTION
  position: relative;
}

body {
  color: $LightBlack;
  background: $DarkGrey;

  &,
  input,
  textarea {
    font-family: "Poppins", sans-serif;
  }
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

ul,
li {
  list-style-type: none;
}

p {
  font-size: 20px;
  font-weight: 300;
}

section,
main {
  min-height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}
