#About {
  h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-family: "Instrument Serif", serif;
    letter-spacing: 0.5vw;
    font-weight: 600;
  }

  .secondSection,
  .thirdSection {
    padding: 0 7vw;
  }

  .firstSection {
    height: 80vh;

    .txtContainer {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      height: 35%;
      padding: 0 0 3vh;

      h1 {
        position: relative;
        font-family: "Instrument Serif", serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 100px;
        letter-spacing: 2vw;
        color: $Orange;

        &::before,
        &::after {
          position: absolute;
          font-weight: 800;
          top: -3vh;
          color: $Brown;
          font-size: 15px;
          letter-spacing: 0.2vw;
          font-family: "Instrument Serif", serif;
          // font-family: "Roboto", sans-serif;
          // text-transform: none;
          // letter-spacing: normal;
        }

        &::before {
          content: "Architecte d'intérieur";
          left: 0.5vw;
        }

        &::after {
          content: "cheyssoiparis@gmail.com";
          right: 2vw;
        }
      }
    }

    img {
      object-fit: cover;
      object-position: top;
      height: 65%;
      width: 100%;
    }
  }

  .secondSection {
    display: flex;
    align-items: center;

    .divContainer {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      height: 70%;

      .container {
        display: flex;
        flex-direction: column;
        width: 50%;

        h2 {
          color: $Orange;
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;

          p {
            font-size: 25px;
            text-align: justify;
          }
        }
      }

      .imgContainer {
        height: 100%;

        img {
          object-fit: cover;
          object-position: center;
          height: 100%;
          border: 3px solid $Brown;
        }
      }
    }
  }

  .thirdSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $Brown;
    color: $Beige;
    padding-top: 10vh;
    gap: 4vh;

    svg {
      height: 180px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    h2 {
      font-size: 45px;
      color: $Orange;
    }

    .container {
      display: flex;
      align-items: center;

      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        border: 3px solid $Beige;
        // float: left;
        // shape-outside: margin-box;
        margin: 2vw;
      }

      .txt {
        p {
          font-size: 22px;
          text-align: justify;
          margin: 3vh;
        }
      }
    }
  }
}
