#About {
  section {
    height: 80vh;
    overflow: hidden;

    .txtContainer {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      height: 35%;
      padding: 0 0 3vh;

      h1 {
        position: relative;
        font-family: "Instrument Serif", serif;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 100px;
        letter-spacing: 2vw;
        color: $Orange;

        &::before,
        &::after {
          position: absolute;
          font-weight: 500;
          top: -3vh;
          color: $Brown;
          font-size: 15px;
          letter-spacing: normal;
          font-family: "Roboto", sans-serif;
          text-transform: none;
        }

        &::before {
          content: "Architecte d'intérieur";
          left: 0.5vw;
        }

        &::after {
          content: "cheyssoiparis@gmail.com";
          right: 2.5vw;
        }
      }
    }

    img {
      object-fit: cover;
      object-position: top;
      height: 65%;
      width: 100%;
    }
  }

  .secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0 5vw;

    .divContainer {
      display: flex;
      flex-direction: row-reverse;
      height: 70%;

      .container {
        display: flex;
        width: 50%;

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;

          p {
            font-size: 20px;
            text-align: justify;
          }
        }
      }

      .imgContainer {
        display: flex;
        justify-content: center;
        width: 50%;
        height: 100%;

        img {
          object-fit: cover;
          object-position: center;
          width: 70%;
          height: 100%;
        }
      }
    }
  }
}
