#apropos {
  background: $DarkGrey;
  color: $Black;

  .aproposSection {
    padding: 10vh 2vw 0vh;

    // SECTION 2

    &:nth-child(2) {
      .content {
        flex-direction: row-reverse;

        .txt {
          .title {
            align-items: end;
          }

          .paragraphe {
            display: flex;
            align-items: center;
            flex-grow: 1;
            display: flex;
            align-items: center;
            text-align: justify;
          }
        }
      }
    }

    .lineContainer {
      position: relative;
      width: 100%;

      .line {
        width: 100%;
        transform-origin: left;
        height: 2px;
        background: $Black;
      }

      .number {
        position: absolute;
        top: 10px;
        right: 0;
      }
    }

    .content {
      padding-top: 10vh;
      display: flex;
      gap: 4vw;

      .txt {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 700px;
        width: 60%;
        flex-grow: 1;

        .title {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 20px;

          h2 {
            text-align: start;
            font-size: 110px;
            line-height: 100px;

            &:nth-child(2) {
              color: $LightRed;
            }
          }
        }

        .paragraphe {
          display: flex;
          align-items: center;
          flex-grow: 1;
          display: flex;
          align-items: center;
          text-align: justify;
        }
      }

      .image {
        width: 490px;
        height: 650px;
        background: $Black;
      }
    }
  }
}
