#contact {
  background: $White;
  color: $Black;

  .formulaire {
    margin-left: 50vw;
    h2 {
      text-transform: uppercase;
      color: $OrangeRed;
      font-size: 40px;
      font-weight: bold;
    }
  }
}
