#demarrerprojet {
  background: $DarkGrey;
  color: $Black;
  padding: 10vh 0 2vh;

  .leftPart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 25%;

    .button {
      overflow: hidden;

      div {
        display: flex;
        align-items: center;
        gap: 5px;
        transform: translateX(-10px);
        transition: transform 0.35s cubic-bezier(0.65, 0, 0.35, 1);
      }

      &:hover {
        cursor: pointer;

        div {
          transform: translateX(0);
        }
      }
    }
  }

  .formulaire {
    display: flex;
    width: 50%;
    margin-left: 50vw;

    .title {
      display: flex;
      flex-direction: column;

      .titleSection {
        margin: 5vh 0;

        h2 {
          text-align: start;
          font-size: 50px;

          &:nth-child(2),
          &:nth-child(3) {
            color: $LightRed;
          }
        }
      }

      span {
        font-weight: 300;
      }
    }

    .message {
      padding: 0 0 5px 5px;
      font-size: 13px;
      transition: 0.2s;
    }

    label {
      padding-left: 5px;
      font-size: 12px;
    }

    input,
    textarea {
      border: none;
      background-color: transparent;
      border-bottom: 2px solid $Grey;
      outline: none;
      resize: none;
      font-size: 15px;
      padding: 5px;
      transition: 0.2s;

      &:focus {
        border-bottom: 2px solid $Black;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    .middle {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;

      div {
        display: flex;
        flex-direction: column;
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      margin: 20px auto 0;
      background: transparent;
      padding: 5px 20px;
      border: none;
      overflow: hidden;

      p {
        font-size: 15px;
        font-weight: 300;
      }

      &,
      svg {
        transition: 0.3s cubic-bezier(0.65, 0, 0.35, 1);
      }

      svg {
        color: $Black;
      }

      &:hover {
        cursor: pointer;

        svg {
          transform: translateX(5px);
        }
      }
    }
  }
}
