#Home {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100%;
  color: $Orange;

  .image {
    margin: 5vh 0;
    width: 30%;
    height: 65%;

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }

    p {
      margin-top: 1vh;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
