#Home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 100%;

  .image {
    width: 30vw;
    height: 30vw;

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
}
