#Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: $Orange;

  .logo {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      font-size: 7vw;
      white-space: nowrap;
      letter-spacing: 2vw;
      color: $Black;
      mix-blend-mode: difference;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  .image {
    margin: 5vh 0;
    width: 30%;
    height: 65%;

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
}
