#demarrermonprojet {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 20vh 10vh;

  .formulaire {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    width: 100%;

    input,
    textarea {
      font-size: 18px;
    }

    input {
      width: 100%;
      font-family: "Poppins", sans-serif;
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 2px solid $White;
      color: $White;
      font-weight: 300;
    }

    form {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 3vw;

      .message {
        color: $White;
        position: absolute;
        background: black;
        padding: 1vh 15px;
        border-radius: 5px;
        width: 48.5%;
        top: -6vh;
        left: 0;
        backdrop-filter: blur(15px);
        background: rgba(72, 72, 72, 0.55);
        text-transform: none;
        font-weight: 200;
        transition: 0.2s;
      }

      .middle {
        display: flex;
        gap: 3vw;

        .left,
        .right {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 2vh;
        }
      }
    }

    .right {
      textarea {
        width: 100%;
        height: 100%;
        padding: 15px;
        resize: none;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        background-color: transparent;
        border: 1px solid $White;
        border-radius: 10px;
        outline: none;
        color: $White;

        &::placeholder {
          color: $White;
          font-weight: 200;
          font-size: 20px;
          text-transform: uppercase;
        }
      }
    }

    span {
      color: $Red;
    }

    button {
      position: relative;
      text-transform: uppercase;
      margin: auto;
      font-size: 20px;
      color: #ffffff;
      background: transparent;
      padding: 10px 40px;
      border: 2px solid #ffffff;
      border-radius: 25px;
      overflow: hidden;
      transition: 0.3s;

      &:hover {
        cursor: pointer;

        &::after {
          transform: translateY(0%);
        }
      }

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        background-color: $Black;
        transition: 0.3s;
      }
    }
  }
}
