#homeSection {
  display: flex;
  align-items: center;
  justify-content: center;

  .txtContainer {
    display: flex;

    h1 {
      position: relative;
      font-family: "Cormorant Garamond", serif;
      // font-family: "Poppins", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 120px;
      letter-spacing: 1vw;
      white-space: nowrap;

      &::after {
        content: "Designers d’espaces éthiques";
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
