#About {
  .secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;

    &,
    p {
      text-align: center;
    }

    .txtContainer {
      display: flex;
      flex-direction: column;
      gap: 3vh;
    }
  }

  .white {
    background-color: $White;
    color: $Black;
  }
}
