/* Section commune pour la page */
.histoire-page {
  font-family: "Arial", sans-serif;
}

/* Section d'en-tête Histoire */
.histoire-header {
  background-image: url("/6.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

/* Titre principal */
.histoire-title {
  font-family: 'Cormorant sc', serif;
  font-size:5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.histoire-subtitle {
  font-family: 'Cormorant sc', serif;
  font-size:2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}




/* Contenu texte */
.histoire-content {
  padding: 2rem;
  max-width: 1200px; /* Largeur maximale légèrement augmentée */
  margin: 0 auto; /* Centrage horizontal */
  padding: 1rem; /* Réduction de l'espacement interne */
}

/* Texte avec image */
.histoire-section.with-image {
  display: flex;
  align-items: flex-start;
  gap: 20px; /* Réduction de l'espacement entre image et texte */
  margin: 20px 0; /* Réduction des marges verticales */
}

.histoire-section.with-image.reverse {
  flex-direction: row-reverse; /* Texte à gauche, image à droite */
}

/* Images */
.histoire-image-left,
.histoire-image-right {
  width: 50%; /* Images plus grandes */
  height: auto;
  border-radius: 0x;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Texte */
.histoire-text-right,
.histoire-text-left {
  width: 50%; /* Texte occupe la moitié */
  font-family: "Arial", serif;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  text-align: justify;
}

.histoire-text-right p,
.histoire-text-left p {
  margin-bottom: 15px; /* Espacement réduit entre les paragraphes */
}

/* Ligne décorative sous les titres */
.histoire-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #c0a062;
  margin: 0.5rem auto;
}

/* Alignement centré pour les sections */
.histoire-section.centered {
  text-align: center;
}




.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: left; /* Garde un alignement de texte naturel */
}


.histoire-page {
  width: 100%;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}



