.mentions-page {
  font-family: Arial, sans-serif;
  margin: 1.5rem;
  color: #333;
  line-height: 1.8;
}

.mentions-header {
  text-align: center;
  margin-bottom: 2rem;
}

.mentions-header h1 {
  font-family: "Cormorant SC", serif;
  font-size: 0.5rem;
  
  color: #333;
  text-transform: uppercase;
  
}

.mentions-header p {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #666;
}

.mentions-content {
  font-size: 1rem;
  text-align: justify;
}


.mentions-container {
  margin: 0 auto; /* Centre le contenu horizontalement */
  padding: 0 0.01%; /* Ajoute un espace de 5% à gauche et à droite */
  max-width: 1200px; /* Limite la largeur maximale pour les grands écrans */
  box-sizing: border-box; /* Assure que le padding est inclus dans la largeur totale */
}

.mentions-container h1 {
  text-align: center; /* Centre le titre */
  margin-bottom: 1rem; /* Espacement sous le titre */
}

.mentions-container h2 {
  margin-top: 1rem; /* Ajoute un espace au-dessus des titres secondaires */
}

.mentions-container p {
  text-align: justify; /* Justifie le texte */
  margin-bottom: 1.5rem; /* Ajoute un espace entre les paragraphes */
}
