@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cormorant Garamond", serif;
  background: #ffffff;
  color: #ffffff;
}

section {
  min-height: 100vh;
  padding: 0 10vw;
}

a {
  text-decoration: none;
}

#apropos {
  padding: 0;
}
#apropos,
#apropos p {
  text-align: center;
}
#apropos .textPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  height: 100vh;
  padding: 0 10vw;
}
#apropos .textPart:nth-child(2) {
  background: #ffffff;
  color: #000000;
  border-radius: 3vw 3vw 0 0;
}
#apropos .textPart .txtContainer {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
#apropos .txtSeparation {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 25vh;
  background: linear-gradient(356deg, #000000 50%, #ffffff 50%);
}
#apropos .txtSeparation .txtInfinite {
  display: flex;
  position: absolute;
  top: 50%;
  left: -1%;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 500;
  transform: rotate(356deg) translate(0%, -50%);
  animation: 10s textInfinite linear infinite;
}
#apropos .txtSeparation .txtInfinite .wordsContainer {
  background: #000000;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  display: flex;
  justify-content: space-around;
  width: 101vw;
}
#apropos .txtSeparation .txtInfinite .wordsContainer:nth-child(2) {
  position: absolute;
  top: 0;
  left: 100%;
}
#apropos .txtSeparation .txtInfinite .wordsContainer .words {
  display: flex;
  flex-wrap: nowrap;
  gap: 2vw;
}
#apropos .txtSeparation .txtInfinite .wordsContainer .words .word {
  display: flex;
  gap: 20px;
}
@keyframes textInfinite {
  from {
    transform: rotate(356deg) translate(0%, -50%);
  }
  to {
    transform: rotate(356deg) translate(-100%, -50%);
  }
}
#apropos .memberSection {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  padding: 20vh 10vw;
  background-color: #000000;
  border-radius: 0 0 3vw 3vw;
  min-height: 100vh;
}
#apropos .memberSection .groupContainer {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
#apropos .memberSection .groupContainer .personsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#apropos .memberSection .groupContainer .personsContainer .imgContainer {
  overflow: hidden;
  position: relative;
  width: 320px;
  height: 480px;
  filter: grayscale(1);
  border-radius: 20px;
}
#apropos .memberSection .groupContainer .personsContainer .imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#apropos .memberSection .groupContainer .personsContainer .imgContainer .nameContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 211, 144, 0) 0%, rgb(0, 0, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
#apropos .memberSection .groupContainer .personsContainer .imgContainer .nameContainer .name {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.backgroundImage {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
}
.backgroundImage img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  filter: brightness(0.5);
  height: 100%;
  width: 100%;
}

#demarrermonprojet {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
#demarrermonprojet .formulaire {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#demarrermonprojet .formulaire .formSection {
  display: flex;
  justify-content: center;
  gap: 10vw;
}
#demarrermonprojet .formulaire .formSection div {
  width: 100%;
}
#demarrermonprojet .formulaire .formSection:nth-child(1) div, #demarrermonprojet .formulaire .formSection:nth-child(4) div {
  width: 50%;
}
#demarrermonprojet .formulaire .formSection input {
  width: 100%;
}

#galerie {
  background: #ffffff;
}

#homeSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
#homeSection .txtContainer {
  display: flex;
}
#homeSection .txtContainer h1 {
  position: relative;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing: 1vw;
  white-space: nowrap;
}
#homeSection .txtContainer h1::after {
  content: "Designers d’espaces éthiques";
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 500;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}
#services .txtContainer {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
#services .txtContainer p {
  text-align: center;
}
#services button {
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  background: transparent;
  padding: 15px 40px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.3s;
}
#services button::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #ff4500;
  transition: 0.3s;
}
#services button:hover {
  cursor: pointer;
  padding: 15px 50px;
}
#services button:hover::after {
  transform: translateY(0);
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 96vw;
  margin-top: 2vh;
  padding: 1vh 1vw;
  border-radius: 20px;
}
nav .LogoContainer {
  overflow: hidden;
  position: relative;
  width: 50px;
  height: 50px;
}
nav .LogoContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 80px 0 #ffffff);
  transform: translateY(-80px);
}
nav .menu {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 5vw;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
nav .menu .link {
  position: relative;
  padding: 10px 30px;
}
nav .menu .link:hover {
  cursor: pointer;
}
nav .menu .link .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  border-radius: 99999px;
  z-index: -1;
  pointer-events: none;
}

#Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#Home .logo {
  z-index: 5;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}
#Home .logo p {
  font-weight: 300;
  font-size: 7vw;
  white-space: nowrap;
  letter-spacing: 2vw;
  color: #ffffff;
  text-transform: uppercase;
}
#Home .image {
  margin: 5vh 0;
  height: 65%;
  overflow: hidden;
  aspect-ratio: 3/4;
}
#Home .image:hover img {
  transform: scale(1.1);
}
#Home .image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
  transition: transform 0.3s;
}

#About h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
#About p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 200;
}/*# sourceMappingURL=style.css.map */