@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
.redButton {
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  padding: 0 2px 3px;
  transition: 0.3s;
  font-size: 20px;
}
.redButton:hover {
  color: #f6f6f6;
}
.redButton:hover::before {
  transform: scaleY(1);
}
.redButton::before, .redButton::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 101%;
  height: 2px;
  background: #c49d39;
}
.redButton::before {
  height: calc(100% + 2px);
  transform: scaleY(0);
  z-index: -1;
  transform-origin: bottom;
  transition: transform 0.3s;
  will-change: transform;
}
.redButton::after {
  height: 2px;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  color: #f6f6f6;
  background: #e4e1dc;
}
body,
body input,
body textarea {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.titleSection {
  display: flex;
  gap: 15px;
}

ul,
li {
  list-style-type: none;
}

p {
  font-size: 20px;
  font-weight: 300;
}

section,
main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  color: #191a19;
  background: #e4e1dc;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vh 0;
}
footer .content {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  width: 100%;
  max-width: 1440px;
}
footer .content .contact {
  text-transform: lowercase;
  display: flex;
  gap: 30px;
}
footer .socials {
  text-transform: lowercase;
  display: flex;
  gap: 30px;
}
footer .socials svg {
  padding: 2px 4px;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.2s;
}
footer .socials svg:hover {
  filter: contrast(0.1);
}

.gotoTopButton {
  position: fixed;
  overflow: hidden;
  z-index: 5;
  width: 35px;
  height: 35px;
  right: 2vw;
  bottom: 5vh;
}
.gotoTopButton:hover {
  cursor: pointer;
}
.gotoTopButton .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c49d83;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.progressBarContainer {
  position: fixed;
  pointer-events: none;
  z-index: 5;
  top: 0px;
  left: 0;
  height: 100vh;
  width: 4px;
}
.progressBarContainer .progressBar {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.progressBarContainer .progressBar .bar {
  transform-origin: top;
  width: 100%;
  height: 100%;
  background: #191a19;
  will-change: transform;
}

nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 90vw;
  height: 100px;
}
nav a {
  color: #f6f6f6;
}
nav .LogoContainer {
  overflow: hidden;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #c49d39;
  border-radius: 50%;
}
nav .LogoContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 80px 0 #191a19);
  transform: translateY(-80px);
}
nav .menu {
  display: flex;
  gap: 5vw;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}
nav .menu .link {
  position: relative;
}
nav .menu .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f6f6f6;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
  will-change: transform;
}
nav .menu .link:hover {
  cursor: pointer;
}
nav .menu .link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#Projet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 6;
  background: #1a1a1a;
}
#Projet .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#Projet .image .filter {
  background: linear-gradient(0deg, #191a19 0%, rgba(0, 0, 0, 0) 50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#Projet .image h1 {
  font-size: 5vw;
  font-weight: 400;
  position: absolute;
  bottom: 1vh;
  left: 2vw;
  color: #f6f6f6;
  z-index: 2;
}
#Projet .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100vh;
  padding: 2vh 2vw 4vh 52%;
}
#Projet .content .backBtn {
  position: relative;
  overflow: hidden;
  padding: 0 2px;
}
#Projet .content .backBtn span {
  display: block;
  transition: transform 0.3s;
  will-change: transform;
}
#Projet .content .backBtn span::after {
  content: "Back";
  position: absolute;
  bottom: -100%;
  left: 0;
  font-style: italic;
}
#Projet .content .backBtn:hover {
  cursor: pointer;
}
#Projet .content .backBtn:hover span {
  transform: translateY(-100%);
}
#Projet .content .imageProjet {
  width: 100%;
  height: 30vh;
}
#Projet .content .imageProjet img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#Projet .content p {
  text-align: justify;
}

#apropos {
  color: #191a19;
}
#apropos .aproposSection {
  padding: 100px 2vw 0vh;
  max-width: 1440px;
  margin: 0 auto;
}
#apropos .aproposSection:nth-child(odd) .content {
  flex-direction: row-reverse;
}
#apropos .aproposSection .lineContainer {
  position: relative;
  width: 100%;
}
#apropos .aproposSection .lineContainer .line {
  width: 100%;
  transform-origin: left;
  height: 1.5px;
  background: #191a19;
}
#apropos .aproposSection .content {
  padding-top: 100px;
  display: flex;
  gap: 4vw;
}
#apropos .aproposSection .content .txt {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 700px;
  width: 60%;
  flex-grow: 1;
}
#apropos .aproposSection .content .txt .title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
#apropos .aproposSection .content .txt .title h2 {
  text-align: start;
  line-height: 50px;
}
#apropos .aproposSection .content .txt .title h2:nth-child(2) {
  color: #c49d39;
}
#apropos .aproposSection .content .txt .paragraphe {
  display: flex;
  align-items: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: justify;
}
#apropos .aproposSection .content .image {
  width: 490px;
  height: 650px;
  background: #191a19;
}
#apropos .aproposSection .content .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 200vh;
  will-change: opacity;
}
.backgroundImage img {
  position: sticky;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: brightness(0.5);
  height: 100vh;
  width: 100%;
}

#ConnextSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
}
#ConnextSection .titleSection h2:last-child {
  color: #c49d39;
}
#ConnextSection p {
  max-width: 1440px;
  width: 80vw;
  text-align: justify;
  margin: 8vh 0;
}
#ConnextSection .buttonsContainer {
  display: flex;
  gap: 50px;
}

#demarrerprojet {
  display: flex;
  color: #191a19;
  padding: 10vh 2vw;
}
#demarrerprojet .content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
#demarrerprojet .content .titleFormulaire {
  display: flex;
  justify-content: center;
  gap: 15px;
}
#demarrerprojet .content .titleFormulaire h2:nth-child(2), #demarrerprojet .content .titleFormulaire h2:last-child {
  color: #c49d39;
}
#demarrerprojet .content .formulaire {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
#demarrerprojet .content .formulaire .miniText {
  text-align: center;
  font-weight: 300;
}
#demarrerprojet .content .formulaire .message {
  padding: 10px 0 10px 5px;
  font-size: 13px;
  transition: 0.2s;
}
#demarrerprojet .content .formulaire label {
  padding-left: 5px;
  font-size: 12px;
}
#demarrerprojet .content .formulaire label a {
  text-decoration: underline;
}
#demarrerprojet .content .formulaire input,
#demarrerprojet .content .formulaire textarea,
#demarrerprojet .content .formulaire select,
#demarrerprojet .content .formulaire option {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #d0d0d0;
  outline: none;
  resize: none;
  font-size: 15px;
  padding: 5px;
  transition: 0.2s;
}
#demarrerprojet .content .formulaire input:focus,
#demarrerprojet .content .formulaire textarea:focus,
#demarrerprojet .content .formulaire select:focus,
#demarrerprojet .content .formulaire option:focus {
  border-bottom: 2px solid #c49d83;
}
#demarrerprojet .content .formulaire form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
#demarrerprojet .content .formulaire .middle {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#demarrerprojet .content .formulaire .middle div {
  display: flex;
  flex-direction: column;
}
#demarrerprojet .content .formulaire button {
  margin: 50px auto 0;
  background: transparent;
  border: none;
  overflow: hidden;
}
#demarrerprojet .content .formulaire button .container {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateX(11px);
  transition: 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: transform;
}
#demarrerprojet .content .formulaire button .container p {
  font-size: 15px;
  font-weight: 300;
}
#demarrerprojet .content .formulaire button .container svg {
  color: #191a19;
}
#demarrerprojet .content .formulaire button .container:hover {
  cursor: pointer;
  transform: translateX(0);
}

#ebook {
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  color: #1a1a1a;
  gap: 100px;
}
#ebook .title {
  display: flex;
  justify-content: center;
  gap: 15px;
}
#ebook .title h2:nth-child(2) {
  color: #c49d39;
}
#ebook .container {
  max-width: 1440px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  margin: 0 auto;
  flex-grow: 1;
  gap: 30px;
}
#ebook .container .paragraph {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 100px;
}
#ebook .container .ebookImage {
  width: 100%;
}
#ebook .container .ebookImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#formules {
  color: #191a19;
  padding: 100px 2vw;
}
#formules .contenu {
  max-width: 1440px;
  margin: 0 auto;
}
#formules .contenu .title {
  display: flex;
  justify-content: center;
  gap: 15px;
}
#formules .contenu .title h2:last-child {
  color: #c49d39;
}
#formules .contenu .cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 100px;
}
#formules .contenu .cardsContainer .formuleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 460px;
  border-radius: 20px;
  border: 2px solid #191a19;
  padding: 15px;
}
#formules .contenu .cardsContainer .formuleCard ul li::before {
  content: "•";
  padding-right: 10px;
}
#formules .contenu .cardsContainer .formuleCard .topContainer {
  border-bottom: 1px solid #191a19;
  padding-bottom: 20px;
}
#formules .contenu .cardsContainer .formuleCard .topContainer .Name {
  font-size: 32px;
  font-weight: bold;
}
#formules .contenu .cardsContainer .formuleCard .topContainer .price {
  font-size: 14px;
}
#formules .contenu .cardsContainer .formuleCard .descriptif {
  font-weight: 500;
}
#formules .contenu .cardsContainer .formuleCard a {
  margin: 0 auto 20px;
}

#galerie {
  padding: 100px 2vw 0;
  color: #1a1a1a;
}
#galerie .content {
  max-width: 1440px;
  margin: 0 auto;
}
#galerie .content .titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
#galerie .content .titleContainer .h2Container {
  display: flex;
  gap: 15px;
}
#galerie .content .titleContainer .h2Container h2:last-child {
  color: #c49d39;
}
#galerie .content .projectsContainer {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#galerie .content .projectsContainer .projectContainer {
  position: relative;
}
#galerie .content .projectsContainer .projectContainer:nth-child(2n-1) {
  grid-row: span 15;
}
#galerie .content .projectsContainer .projectContainer:hover {
  cursor: pointer;
}
#galerie .content .projectsContainer .projectContainer:hover img {
  transform: scale(1.1);
}
#galerie .content .projectsContainer .projectContainer .filter {
  background: linear-gradient(0deg, #191a19 0%, rgba(0, 0, 0, 0) 50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#galerie .content .projectsContainer .projectContainer .project {
  overflow: hidden;
  height: 100%;
}
#galerie .content .projectsContainer .projectContainer .project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: transform;
}
#galerie .content .projectsContainer .projectContainer .projectsNameContainer {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  left: 10px;
  display: flex;
  align-items: baseline;
  gap: 7px;
  margin-top: 5px;
}
#galerie .content .projectsContainer .projectContainer .projectsNameContainer p,
#galerie .content .projectsContainer .projectContainer .projectsNameContainer svg {
  color: #f6f6f6;
}
#galerie .content .projectsContainer .projectContainer .projectsNameContainer p {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 17px;
}
#galerie .content .projectsContainer .projectContainer .projectsNameContainer svg {
  transform: rotate(310deg);
  font-size: 13px;
}

#homeSection .parentContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
}
#homeSection .parentContainer .txtContainer {
  pointer-events: none;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#homeSection .parentContainer .txtContainer h1 {
  position: relative;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing: 1vw;
  white-space: nowrap;
  will-change: transform;
}
#homeSection .parentContainer .txtContainer h1::after {
  content: "Designers d’intérieurs éthiques";
  position: absolute;
  bottom: -18%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 500;
}

#team {
  color: #1a1a1a;
  padding: 100px 2vw 0vh;
}
#team .content {
  max-width: 1440px;
  margin: 0 auto;
}
#team .content header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#team .content header .titleContainer {
  display: flex;
  justify-content: center;
}
#team .content header .titleContainer h2:last-child {
  color: #c49d39;
}
#team .content header p {
  padding: 0 2vw;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#team .content .membersContainer .members {
  padding-bottom: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#team .content .membersContainer .members .card {
  margin: 100px 30px 0;
}
#team .content .membersContainer .members .card .image {
  width: 400px;
  height: 500px;
}
#team .content .membersContainer .members .card .image:hover img {
  filter: grayscale(0);
}
#team .content .membersContainer .members .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: grayscale(1);
  transition: filter 0.5s;
  will-change: filter;
}
#team .content .membersContainer .members .card p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  margin-top: 26px;
}
#team .content .membersContainer .members .card span {
  font-weight: 200;
}/*# sourceMappingURL=style.css.map */