footer {
  color: $Black;
  background: $DarkGrey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vh 0;

  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    width: 100%;
    max-width: 1440px;

    .contact {
      text-transform: lowercase;
      display: flex;
      gap: 30px;
    }
  }
}
