header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: red;

  .menu {
    position: relative;

    .burger {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
