header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 10vw;

  .menu {
    position: relative;

    p {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    .burger {
      position: absolute;
      top: 40px;
      right: 0;
      display: flex;
      gap: 1vh;
      flex-direction: column;
      text-align: right;
    }
  }
}
