nav {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
  padding: 0 10vw;

  .LogoContainer {
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 80px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      top: 0;
      left: 0;
      filter: drop-shadow(0px 80px 0 $White);
      transform: translateY(-80px);
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    position: relative;

    span {
      padding: 10px 30px;

      &:hover {
        cursor: pointer;
      }
    }

    .background {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      border-radius: 20px;
      border: 1px solid $White;
    }
  }
}
